@import url("https://fonts.googleapis.com/css?family=Roboto");
@import '~antd/dist/antd.css';

* {
  box-sizing: border-box;
}

.container {
  padding: 20px;
}

.card-desc {
  padding-bottom: 15px;
}

.ant-card-meta-avatar {
  padding: 0;
}

.repo-item {
  border-bottom: 1px solid rgb(230, 230, 230);
  padding:20px;
  display: block;
  width:100%;
}

.repo-item:last-child {
  border-bottom: none;
}

.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  color: #333;
}

.alert-light {
  background: #fff2f0;
  color: #333;
  border:1px solid #ffccc7;
}